.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.clickable-text1 {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0px;
  background: none;
  border: none;
  color: blue;
  text-decoration: underline;
  text-decoration-style: wavy;
  cursor: pointer;
  font-weight: semi-bold;
}

.clickable-text {
  padding: 5px 20px; /* Small padding for compactness */
  margin: 0px 5px; /* Small margin for spacing */
  font-size: 12px; /* Smaller font size */
  background-color: gray; /* Button background color */
  color: white; /* Text color */
  border: 0px; /* Remove default border */
  border-radius: 3px; /* Slightly rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.clickable-text:hover {
  background-color: #0056b3; /* Darker background on hover */
}